    <div class="card-group">
<div id="app" class="card">
    <div class="card-header">
        <h1 class="card-title">{{ title }}</h1>
        </div>
    <div class="card-body">
    <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title.
    </span>
    </div>
</div>
<div id="app-2" class="card">
    <div class="card-header">
        <h1 class="card-title">{{ title }}</h1>
    </div>
    <div class="card-body">
    <span v-if="seen">
        Now you can see me. Change seen variable to false.
    </span>
    </div>
</div>

<div id="app-3" class="card">
    <div class="card-header">
        <h1 class="card-title">{{ title }}</h1>
    </div>
    <div class="card-body">
    <ol class="list-group">
        <li v-for="todo in todos" class="list-group-item">
            {{ todo.text }}
        </li>
    </ol>
    <p>{{ doMore }}</p>
    </div>
</div>

<div id="app-4" class="card">
    <div class="card-header">
        <h1 class="card-title">{{ title }}</h1>
    </div>
    <div class="card-body">
        <span>{{ message }}</span>
        <input v-model="message" class="form-control">
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
</div>

<div id="app-5" class="card">
    <div class="card-header">
        <h1 class="card-title">{{ title }}</h1>
        </div>
    <div class="card-body">
    <ol class="list-group">
        <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
        ></todo-item>
    </ol>
    </div>
</div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: 'It\'s the hello Vue',
            message: 'Hello Vue! Today is: ' + new Date().toLocaleString()
        },
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            title: 'Binding if clause',
            seen: true
        },
    });

    var app3 = new Vue({
        el: '#app-3',
        data: {
            title: 'Iterating an array.',
            todos: [
                {text: 'Learn JavaScript'},
                {text: 'Learn Vue'},
                {text: 'Build something awesome'},
            ],
            doMore: 'To add another todo item type on console: app3.todos.push({text: \'New item\'})'
        },
    });

    var app4 = new Vue({
        el: '#app-4',
        data: {
            title: 'Handling User Input.',
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function() {
                this.message = this.message.split('').reverse().join('');
            }
        }
    });

    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li class="list-group-item">{{todo.text}}</li>',
    });

    var app5 = new Vue({
        el: '#app-5',
        data: {
            title: 'It\'s a Vue component!',
            groceryList: [
                {id: 0, text: 'Vegetables'},
                {id: 1, text: 'Cheese'},
                {id: 2, text: 'Wharever else humans are supposed to eat or drink.'},
            ]
        }
    });
</script>